* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;0,800;1,500&display=swap');

:root {
  --primary-bg: #34364b;
  --primary-black-bg: #222437;
  --second-bg: #ffb63c;
  --buttons-bg: #f57e68;
  --bg-write: #ffffff;
  --bg-product-card: #f4f5f7;
  --font-black-color: #2e2f2f;
  --font-gray-color: #c6c7c4;
  --font-blue-color: #75b3ed;
  --bg-living-color: #5332fd;
  --bg-bed-color: #2195df;
  --bg-working-color: #6f6f19;
  --bg-lighting-color: #f3961c;
  --bg-tableware-color: #2e6058;
  --bg-vimfast-color: #900102;
}

body {
  background: var(--bg-write);
  font-family: 'Montserrat', sans-serif;
}